In [49]:
import os
path =os.getcwd()+"/3001"
path
files = os.listdir(path)

'/Users/nagataeiki/5seme/プロ演/グループ活動/data/3001'

In [50]:
files = os.listdir(path)

In [52]:
files[0:5]

['sm30013110.jsonl',
 'sm30014400.jsonl',
 'sm30013953.jsonl',
 'sm30014892.jsonl',
 'sm30013155.jsonl']

In [582]:
import json
import pandas as pd
df = pd.DataFrame(columns=["date", "content", "type", "word"])
for i in (range(len(files))):
    with open("./3001/"+files[i]) as f:
        for line in f:
            data=json.loads(line)
            newdf = pd.DataFrame(np.array([data["date"], data["content"], np.nan, np.nan]).reshape(1,4), columns=["date", "content", "type", "word"])
            df = pd.concat([df, newdf])
            if df.shape[0]%10000==0:
                print(df.shape)
            if df.shape[0]>50000:
                break
        if df.shape[0]>50000:
            break

(10000, 4)
(20000, 4)
(30000, 4)
(40000, 4)
(50000, 4)

In [157]:
# df

In [5]:
# df.to_csv('some_comment_data.csv', index=False)

df = pd.read_csv('some_comment_data.csv')

In [104]:
# # df = pd.DataFrame({"date":np.nan, "vpos":np.nan, "content":np.nan, "command":np.nan, "type":np.nan})
# df = pd.DataFrame(columns=["date", "vpos", "content", "command", "type"])
# df

In [10]:
# import pandas as pd
# df = pd.read_csv('./some_comment_data.csv')
# df.shape

watcheddf.shape

(11238, 4)

In [41]:
# badworddf = pd.DataFrame(columns=["date", "content", "type", "word"])
# hinikudf=pd.DataFrame(columns=["date", "content", "type", "word"])
# neutraldf=pd.DataFrame(columns=["date", "content", "type", "word"])

import pandas as pd
badworddf = pd.read_csv('badword.csv')
hinikudf = pd.read_csv('hiniku.csv')
neutraldf = pd.read_csv('neutral.csv')

watcheddf = pd.concat([badworddf, hinikudf])
watcheddf = pd.concat([watcheddf, neutral])

In [74]:
import numpy as np

def concatdf(sentence, word,r, neutraldf, badworddf, hinikudf, watcheddf):
    newdf = pd.DataFrame(np.array([r[1], r[2], sentence, word]).reshape(1,4), columns=["date", "content", "type", "word"])
    if sentence=="0" or sentence=="０" or sentence=="":
#         if(neutraldf.shape[0]<=250):
            pass
            neutraldf = pd.concat([neutraldf, newdf])
        
    if sentence=="1" or sentence=="１":
#         if(badworddf.shape[0]<=250):
            badworddf = pd.concat([badworddf, newdf])
        
    if sentence=="2" or sentence=="２":
#         if hinikudf.shape[0] <=250:
            hinikudf = pd.concat([hinikudf, newdf])
    watcheddf = pd.concat([watcheddf, newdf])
    return neutraldf, badworddf, hinikudf,watcheddf

df= df[~df.duplicated(subset='content')]
neutraldf = neutraldf.iloc[::-1]
badworddf = badworddf.iloc[::-1]
hinikudf  =hinikudf.iloc[::-1]
neutraldf = neutraldf[~neutraldf.duplicated(subset='content')]
badworddf = badworddf[~badworddf.duplicated(subset='content')]
hinikudf  = hinikudf[~hinikudf.duplicated(subset='content')]
i=1



for r in df.itertuples():
    i+=1
    if watcheddf.shape[0]>i:
        pass
    else:
        word=-1
      
    
    
        sentence=input(r[2]+"　　|  0:ニュートラル, 1:悪口, 2:皮肉")
        if(sentence=="1" or sentence=="１"):
            word = input('bad word')
        if sentence=="q"or word=="q":
            break
            
            
        if sentence=="":
            sentence="0"
        neutraldf, badworddf, hinikudf, watcheddf = concatdf(sentence, word,r, neutraldf, badworddf, hinikudf, watcheddf)
        
        
neutraldf.shape[0], badworddf.shape[0], hinikudf.shape[0], watcheddf.shape[0]

もう異常気象が名物になりつつある　　|  0:ニュートラル, 1:悪口, 2:皮肉 q

(10986, 404, 250, 11674)

In [171]:
neutraldf  =pd.read_csv('./neautral/neutral.csv')
neutral = neutraldf.sample(250)
# bad = badworddf.sample(250)
# hiniku = hinikudf.sample(250)

neutral.to_csv('./neautral//neutral.csv', index=False)
# bad.to_csv('./bad.csv', index=False)
# hiniku.to_csv('./hiniku.csv', index=False)

In [66]:
while(1):
    text = input()
    if(text=="q"):
        break;
        
    newdf = pd.DataFrame(np.array([np.nan, text, 2, -1]).reshape(1,4), columns=["date", "content", "type", "word"])
    hinikudf=pd.concat([hinikudf, newdf])

 q

In [633]:
# pd.DataFrame(np.array([np.nan, "aaa", 2, -1]).reshape(1,4), columns=["date", "content", "type", "word"])

In [72]:
neutraldf = neutraldf.iloc[5:]

In [73]:
neutraldf.to_csv('./book/all_neutral.csv')

(10583, 404, 251)

In [794]:
neutraldf.to_csv('./neutral.csv', index=False)
badworddf.to_csv('./badword.csv', index=False)
hinikudf.to_csv('./hiniku.csv', index=False)

In [638]:
# hinikudf

In [782]:
df2=df[df.content.str.contains("性格")].iloc[::-1]
df2

         date                      content type word
0  1478889311     このゲームの美幸はかなり性格がおかしいから・・・  nan  nan
0  1478867710              アスカみたいな性格になってるw  nan  nan
0  1478844866                  美雪の性格がおかしいｗ  nan  nan
0  1478843901        みやむーの声だから凄く性格違うように思える  nan  nan
0  1478843682       声がアスカなせいか美雪の性格がキツく感じるｗ  nan  nan
0  1479614450                    飛鷹の性格上でしょ  nan  nan
0  1478866200  性格が男らしい分身体で女性らしてバランスとってるからね  nan  nan
0  1478777527      デッキデスゴストリ組んで性格悪いと言われました  nan  nan
0  1478793030           このプリンセスがいい性格してるwww  nan  nan
0  1484486120          性格が悪いんじゃない　野心があるのだよ  nan  nan
0  1479027495                    2人とも性格悪そう  nan  nan
0  1480182433            服も性格もみんなバランスいいよなぁ  nan  nan

In [793]:
hiniku=hinikudf[hinikudf.content!=""].shape

In [126]:
pd.read_csv('hiniku/sample(2).csv')

,No,content,type
0,1,ピアノしか上手くないあ,2
1,2,スタッカート？な歌い方じゃなければなぁ,2
2,3,OVAだけ、仁王の作画は神だったｗｗ,2
3,4,最初は主人公らしかったのにね,2
4,5,ガキさんは優先でやっていこう,2
...,...,...,...
78,79,主婦は悩みがなくていいよね,2
79,80,つまらない情報ありがとう,2
80,81,スマホがないと勉強が捗るね,2
81,82,頭だけはいいんだね,2
82,83,今日だけは豪華だな,2

In [152]:
columns = ["content", "type", "word"]
hiniku_a = pd.read_csv('hiniku/hiniku.csv')[["content", "type", "word"]]
hiniku_b = pd.read_csv('hiniku/hiniku_2[0000-0026].csv')[["content", "type", "word"]]
hiniku_c = pd.read_csv('hiniku/Comment-hiniku.csv')[["comment", "type"]]
hiniku_c["word"] = -1
hiniku_d = pd.read_csv('hiniku/sample(2).csv')
hiniku_d["word"] = -1
hiniku_d.drop('       No', axis=1, inplace=True)

hiniku_a.columns=columns
hiniku_b.columns=columns
hiniku_c.columns=columns
hiniku_d.columns=columns

tmp1 = pd.concat([hiniku_a, hiniku_b])
tmp2 = pd.concat([hiniku_c, hiniku_d])
hiniku = pd.concat([tmp1,tmp2])
print(hiniku.shape)
hiniku.head()

(636, 3)

             content  type  word
0      なにやってんだあいつら・・     2  -1.0
1  ちょっと薬物キメ過ぎなんとちゃう？     2  -1.0
2         初代の方が全然面白い     2  -1.0
3               聞こえん     2  -1.0
4            練習動画かな？     2  -1.0

In [158]:
columns = ["content", "type", "word"]
a = pd.read_csv('bad/bad.csv')[["content", "type", "word"]]
b = pd.read_csv('bad/bad_1(0000-0020).csv')[["content", "type", "word"]]
c = pd.read_csv('bad/Comment-slander.csv')[["comment", "type"]]
c["word"] = -1
d = pd.read_csv('bad/sample(1).csv')
d["word"] = -1
d.drop('      No', axis=1, inplace=True)


a.columns=columns
b.columns=columns
c.columns=columns
d.columns=columns


tmp1 = pd.concat([a, b])
tmp2 = pd.concat([c, d])
bad = pd.concat([tmp1,tmp2])
print(bad.shape)
bad.head()

(969, 3)

      content  type word
0         ガイジ     1  ガイジ
1         くどい     1  くどい
2  偽物　ただの釣り動画     1   偽物
3     振り付けダサイ     1   ダサ
4         男きも     1   きも

In [167]:
a = pd.read_csv('./neautral/Comment-normal.csv')[["comment", "type"]]
a["word"] =-1
b = pd.read_csv('./neautral/neutral.csv')[["content", "type", "word"]]
c = pd.read_csv('./neautral/sample(0).csv')
# normal_d = pd.read_csv('./neautral/')
c["word"]=-1
c.drop('       No', axis=1, inplace=True)

a.columns=columns
b.columns=columns
c.columns=columns


tmp1 = pd.concat([a, b])
normal = pd.concat([tmp1,c])

In [169]:
normal.to_csv('clean/normal.csv')
bad.to_csv('clean/bad.csv')
hiniku.to_csv("clean/hiniku.csv")

In [3]:
import pandas as pd

hiniku=pd.read_csv("hiniku/hiniku.csv")
hiniku.head()

           date            content  type  word
0  1.478795e+09      なにやってんだあいつら・・     2    -1
1  1.478832e+09  ちょっと薬物キメ過ぎなんとちゃう？     2    -1
2  1.478706e+09         初代の方が全然面白い     2    -1
3  1.514253e+09               聞こえん     2    -1
4  1.485183e+09            練習動画かな？     2    -1

In [20]:
# import numpy as np
# col=["content", "type", "hinikuword"]
# df = pd.DataFrame(columns=col)
# # hiniku_word=[]
# for i in range(hiniku.shape[0]):
#         print(hiniku.iloc[i].content)
#         word = input()
#         newdf = pd.DataFrame(np.array([hiniku.iloc[i].content, hiniku.iloc[i].type, word]).reshape(1,-1), columns=col)
#         df = pd.concat([df, newdf])

In [ ]:
import pandas as pd
import numpy as np
##ニュートラル
df1 = pd.read_csv('neautral/Comment-normal.csv')#[["comment", "type"]]
df1["content"] = df1["comment"]
df1 = df1[["content", "type"]]

df2 = pd.read_csv('neautral/neutral.csv')[["content", "type"]]
df3 = pd.read_csv('neautral/sample(0).csv')
df3.columns = col = ["No", "content","type"]
df3 = df3[["content", "type"]]
df1 = pd.concat([df1, df2])
df1 = pd.concat([df1, df3]) 
df1.to_csv('clean/cleaned_normal.csv', index=False)

In [185]:
import pandas as pd
import numpy as np
##ニュートラル
df1 = pd.read_csv('neautral/Comment-normal.csv')#[["comment", "type"]]
df1["content"] = df1["comment"]
df1 = df1[["content", "type"]]

df2 = pd.read_csv('neautral/neutral.csv')[["content", "type"]]
df3 = pd.read_csv('neautral/sample(0).csv')
df3.columns = col = ["No", "content","type"]
df3 = df3[["content", "type"]]
df1 = pd.concat([df1, df2])
df1 = pd.concat([df1, df3]) 
df1.to_csv('clean/cleaned_normal.csv', index=False)

In [165]:
df1 = pd.read_csv('bad/1(0000-0020).csv')[["content", "type", "word"]]

df2 = pd.read_csv('bad/bad.csv')[["content", "type", "word"]]
df3 = pd.read_csv('bad/Comment-slander.csv')
df3["content"]=df3["comment"]
df3  = df3[["content","type"]]
df3 = df3.dropna()
df3.columns = col = ["content","type"]
df3["word"] = pd.read_csv('bad/bad_list.csv',encoding="shift-jis")


col=["no", "content", "type"]
df4 = pd.read_csv('bad/sample(1).csv')#.drop('No	', axis=1)
df4.columns=col
df4.drop("no", axis=1, inplace=True)
df4["word"]=np.nan
df1 = pd.concat([df1,df2])
df2 = pd.concat([df3,df4])
df1 = pd.concat([df1,df2])
df1.to_csv("clean/cleaned_bad.csv", index=False)

In [184]:
df1 = pd.read_csv('./hiniku/2[0000-0026].csv')[["content", "type"]]
df2 = pd.read_csv('./hiniku/Comment-hiniku.csv')
df2["content"]=df2["comment"]
df2 = df2[["content", "type"]]
df3 = pd.read_csv('./hiniku/hiniku.csv')[["content", "type"]]
df4 = pd.read_csv('./hiniku/sample(2).csv')
col=["no", "content", "type"]
df4.columns = col
df4 = df4[["content", "type"]]

df1 = pd.concat([df1,df2])
df2 = pd.concat([df3,df4])
df1 = pd.concat([df1,df2])
df1.to_csv("clean/cleaned_hiniku.csv", index=False)

In [186]:
normal = pd.read_csv('./clean/cleaned_normal.csv')
hiniku = pd.read_csv('./clean/cleaned_hiniku.csv')
bad= pd.read_csv('./clean/cleaned_bad.csv')

In [197]:
bad_list = pd.DataFrame(bad.word.values, columns=["bad"])
bad_list=bad_list.dropna(axis=0)

In [208]:
bad_list = bad_list[~bad_list.duplicated()]
bad_list.to_csv('./clean/mount_bad_list.csv', index=False)

In [207]:
df = pd.concat([normal, hiniku])
df = pd.concat([df,bad])
df.drop('word', axis=1, inplace=True)
df.to_csv('./clean/mount_all_data.csv', index=False)